<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<form th:action="@{/form}" method="post">
		<div>
			<label for="username">Nombre</label>
			<div>
				<input type="text" name="nombre" id="nombre" th:value="${usuario.nombre}"/>
			</div>
			<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div>
		</div>
		<div>
			<label for="password">Apellido</label>
			<div>
				<input type="text" name="apellido" id="apellido" th:value="${usuario.apellido}"/>
			</div>
			<div th:if="${error != null && error.containsKey('apellido')}" th:text="${error.apellido}"></div>
		</div>

		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" name="username" id="username" th:value="${usuario.username}"/>
			</div>
			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
		</div>
		<div>
			<label for="password">Password</label>
			<div>
				<input type="password" name="password" id="password" />
			</div>
			<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="email" name="email" id="email" th:value="${usuario.email}"/>
			</div>
			<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
		</div>
		<br>
		<div>
			<div>
				<input type="submit" value="Enviar"  />
			</div>
		</div>
	</form>

</body>
</html>